body {
    font-style: sans-serif;
    background-color: #2d2a2a;
    font-size: 50px;
    color:white;
    display:flex;
}

div {
    margin:20px;
}

.card {
    margin:auto;
    border: solid 2px white;
    border-radius: 10px;
}

.header {
    border-bottom: solid 2px white;
    text-align: center;
}

button {
    font-size: 30px;
    padding:20px;
    border-radius: 10px;
    margin: 10px;
}

.form-container {
    display: flex;
    justify-content: space-between;
}